openblas
pybind11==2.13.2
darkdetect==0.8.0
pillow==11.2.1
meson-python==0.18.0
numpy==2.3.4
Wand==0.6.13
snakeviz==2.2.2
poetry-core==2.2.1
desktop-notifier==6.2.0
pythran==0.18.0
scipy==1.16.2
scikit-image==0.25.2